<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="about-page.component.css">


<div class="blur1">

  <div class="wrapper">

    <div class="nav mt-3">
      <img src="../../assets/night.png" alt="" style="width: 4rem; padding-right: 1rem;">
      <span><a class="navbar-brand" href="#">forecast.now</a></span>
    </div>


    <div class="container main">
      <div class="input-box">

        <h2>About Us</h2>
        <p>Welcome to our weather application!</p>
        <p>
          Our team is dedicated to providing accurate and up-to-date weather information to help you plan your day
          effectively.
        </p>
        <p>
          We strive to deliver reliable forecasts, current weather conditions, and other useful data to keep you
          informed
          about the weather in your area and beyond.
        </p>
        <p>
          If you have any feedback or suggestions, please don't hesitate to reach out to us. We value your input and are
          continuously working to improve our application.
        </p>

      </div>
    </div>
  </div>

</div>