<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel="stylesheet" href="favorites-page.component.css">


<div class="container-fluid">

  <!-- <div class="col-md-9"> -->
  <!-- Back to Home Button -->
  <mat-toolbar-row>
    <span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></span>
    <a href="#" class="title">forecast.now</a>
  </mat-toolbar-row>

  <div class="container">
    <!-- <div class="fav"> -->
    <!-- <h1>Add to Favourites</h1> -->
    <h1><i class="fas fa-star" style="padding: 1rem;"></i>Favorites</h1>
    <!-- </div> -->
    <div class="listbox">
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option>Trivandrum <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Kochi <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Banglore <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Chennai <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Hydrebad <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Kozhikode <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Goa <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Lakshadweep <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Varkala <i class="fas fa-times"></i></mat-chip-option>
        <mat-chip-option>Munnar <i class="fas fa-times"></i></mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>