body {
  overflow-x: hidden;
  height: 100vh;
  background-image: url(../../assets/simon-berger-twukN12EN7c-unsplash.jpg);
  /* background-image: url(https://cdn.dribbble.com/users/772985/screenshots/8502919/media/61640071cb5ad714d45e4155313584b8.gif); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: #000000;
  font-weight: 500;

}

.blur {
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card0 {
  width: 94%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.card1 {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  /* background-image: linear-gradient(rgba(109, 109, 109, 0),
      rgba(0, 132, 255, 0)); */
  background-color: #cef3f86d;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px 15px 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

.card2 {
  margin-top: -20px;
  padding-top: 30px;
}

.card3 {
  margin-left: 1rem;
  /* background-image: linear-gradient(rgba(109, 109, 109, 0),
      rgba(0, 85, 255, 0.055)); */
  backdrop-filter: blur(10px);
  background-color: #cef3f86d;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

.card4{
  backdrop-filter: blur(10px);
  background-color: #cef3f86d;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
}

.cc1{
  margin-top: -10px;
}

.date{
  margin-bottom: -10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn:hover > .icon {
  transform: scale(1.2);
  cursor: pointer;
  transition: .2s linear;
}

.btn:focus > .icon {
  fill: #fd1853;
  animation: grosseur .2s linear;
}

@keyframes grosseur {
  0% {
    width: 50px;
    height: 50px;
    fill: #fd1853;
  }

  100% {
    width: 30px;
    height: 30px;
    fill: #fd1853;
  }
}

.lr {
  display: flex;
}

.weather__forecast {
  margin-left: -32px;
  margin-top: -30px;
}

.search {
  margin-top: -88px;
  margin-left: 32rem;
  margin-bottom: 2.5rem;
}

.search input:focus::placeholder {
  opacity: 1;
}

input {
  background-color: #607d8b00;
  /* padding: 24px 0px 12px 0px !important; */
  width: 80%;
  box-sizing: border-box;
  border: none !important;
  border-bottom: 1px solid #000000 !important;
  font-size: 16px !important;
  color: #fff !important;
  margin-top: 1rem;
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #000000 !important;
  outline-width: 0;
  font-weight: 400;
}

::placeholder {
  color: #0000007a !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000 !important;
}

::-ms-input-placeholder {
  color: #000000 !important;
}

.fa-search {
  color: #000000;
  background-color: #E1F5FE;
  font-size: 20px;
  padding: 100px;
  width: 20%;
  cursor: pointer;
  margin-left: -3rem;
}

.line {
  height: 1px;
  background-color: #ffffff;
}

.fa.fa-search {
  flex-shrink: 0;
}

.link {
  cursor: pointer;
}

i.bi {
  display: inline-block;
  padding: 0.2em 0.3em;
}


.navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  /* margin-bottom: 1rem; */
  font-size: 1.25rem;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
 
}

.nav-link {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  /* margin-right: 1rem; */
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.astro{
  display: flex;
  flex-direction: column;
}

